@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html, body{
   height: 100%;
   margin: 0;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   flex-direction: row; 
}
body{
    background-color: lightblue;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="text"]{
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius:4px;
}

#motivational-button {
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
#joke-button {
    background-color: green;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
#ego-button {
    background-color: blue;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
#greeting-button {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fadeIn {
    animation: fadeIn 2s;
}
#displayText{
    color:darkslategray;
    margin-top:20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    /*text-shadow: 2px 2px 4px rgba(0,0,0,0.6);*/
    animation: fadeIn 2s;
}
#roast-button {
    background-color:orangered;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
#greetingText{
    color: darkslateblue;
    margin-top:20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    /*text-shadow: 2px 2px 4px rgba(0,0,0,0.6);*/

}

.center-content, .right-content{
    flex: 1;
    margin: 10px;
}

.center-content {
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    padding:20px;
}
.right-content {
    text-align: center;
    width: 1000px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width: 768px) {
    html, body {
        flex-direction:column;
    }
.right-content {
    width: 100%;
}
.center-content {
    width: 100%;
}

}

